services:
  pgadmin4:
    image: elestio/pgadmin:latest
    restart: always
    environment:
     - PGADMIN_DEFAULT_EMAIL=dev@domain.com
     - PGADMIN_DEFAULT_PASSWORD=P@ssword123
    ports:
        - 8888:80
    volumes:
        - pgadmin:/var/lib/pgadmin 
 
  postgres:
    image: postgres
    environment:
        - POSTGRES_PASSWORD=P@ssword123
    ports:
        - 5432:5432
    volumes:
        - pgdata:/var/lib/postgresql/data
    healthcheck:
        test: ["CMD-SHELL", "pg_isready"]
        interval: 5s
        timeout: 5s
        retries: 5

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: P@ssword123
    ports:
        - 27017:27017
    volumes:
        - mongodata:/var/lib/mongodb/data
    healthcheck:
        test:
            [
            "CMD",
            "mongosh",
            "--quiet",
            "127.0.0.1/test",
            "--eval",
            "'quit(db.runCommand({ ping: 1 }).ok ? 0 : 2)'",
            ]
        interval: 10s
        timeout: 10s
        retries: 5
        start_period: 40s

  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
        - 5672:5672
        - 15672:15672
    healthcheck:
        test: rabbitmq-diagnostics check_port_connectivity
        interval: 5s
        timeout: 5s
        retries: 5

  auction-svc:
    image: jhoyos1/auction-svc:latest
    build:
        context: .
        dockerfile: src/AuctionService/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - ASPNETCORE_URLS=http://+:80
        - ASPNETCORE_URLS=http://+:7777
        - RabbitMq__Host=rabbitmq
        - ConnectionStrings__DefaultConnection=Server=postgres:5432; User Id=postgres; Password=P@ssword123; Database=auctions
        - IdentityServiceUrl=http://identity-svc
        - Kestrel__Endpoints__Grpc__Protocols=http2
        - Kestrel__Endpoints__Grpc__Url=http://+:7777
        - Kestrel__Endpoints__WebApi__Protocols=http1
        - Kestrel__Endpoints__WebApi__Url=http://+:80
    ports:
        - 7001:80
        - 7777:7777
    depends_on:
        postgres:
            condition: service_healthy
        rabbitmq:
            condition: service_healthy

  search-svc:
    image: jhoyos1/search-svc:latest
    build:
        context: .
        dockerfile: src/SearchService/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - ASPNETCORE_URLS=http://+:80
        - RabbitMq__Host=rabbitmq
        - ConnectionStrings__MongoDbConnection=mongodb://root:P%40ssword123@mongo
        - AuctionServiceUrl=http://auction-svc
    ports:
        - 7002:80
    depends_on:
        mongo:
            condition: service_healthy
        rabbitmq:
            condition: service_healthy

  identity-svc:
    image: jhoyos1/identity-svc:latest
    build:
        context: .
        dockerfile: src/IdentityService/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Docker
        - ASPNETCORE_URLS=http://+:80
        - ConnectionStrings__DefaultConnection=Server=postgres:5432; User Id=postgres; Password=P@ssword123; Database=Identity
        - IssuerUri=https://id.auctionbidxchange.local
        - ClientApp=https://app.auctionbidxchange.local
        - VIRTUAL_HOST=id.auctionbidxchange.local
    depends_on:
        postgres:
            condition: service_healthy

  gateway-svc:
    image: jhoyos1/gateway-svc:latest
    build:
        context: .
        dockerfile: src/GatewayService/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Docker
        - ASPNETCORE_URLS=http://+:80
        - VIRTUAL_HOST=api.auctionbidxchange.local
        - ClientApp=https://app.auctionbidxchange.local

  bid-svc:
    image: jhoyos1/bid-svc:latest
    build:
        context: .
        dockerfile: src/BiddingService/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - ASPNETCORE_URLS=http://+:80
        - RabbitMq__Host=rabbitmq
        - ConnectionStrings__BidDbConnection=mongodb://root:P%40ssword123@mongo
        - IdentityServiceUrl=http://identity-svc
        - GrpcAuction=http://auction-svc:7777
    ports:
        - 7003:80
    depends_on:
        mongo:
            condition: service_healthy
        rabbitmq:
            condition: service_healthy
    
  notify-svc:
    image: jhoyos1/notify-svc:latest
    build:
        context: .
        dockerfile: src/NotificationService/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - ASPNETCORE_URLS=http://+:80
        - RabbitMq__Host=rabbitmq
    ports:
        - 7004:80
    depends_on:
        rabbitmq:
            condition: service_healthy

  web-app:
    image: jhoyos1/web-app:latest
    build:
        context: .
        dockerfile: frontend/web-app/Dockerfile
    volumes:
      - /var/lib/web/data
    environment:
      - AUTH_SECRET="" #Not secure use only for development. `npx auth`. Read more: https://cli.authjs.dev
      - API_URL=http://gateway-svc/
      - ID_URL=https://id.auctionbidxchange.local
      - ID_URL_INTERNAL=http://identity-svc
      - AUTH_URL=https://app.auctionbidxchange.local
      - AUTH_URL_INTERNAL=http://web-app:3000
      - VIRTUAL_HOST=app.auctionbidxchange.local
      - VIRTUAL_PORT=3000

  nginx-proxy:
    image: nginxproxy/nginx-proxy
    container_name: nginx-proxy
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./devcerts:/etc/nginx/certs

volumes:
  mongodata:
  pgadmin:    
  pgdata: